<img src="http://i.imgur.com/mNn4xFQ.png" width="400" alt="">

<h3>FIND A RESTAURANT OR BAR</h3>

<div class="form-group">
  <%= form_tag pages_path, :id => 'search', :method => 'get' do %>
    <%= text_field_tag :search_box, nil, :class => "form-control", :placeholder => "Enter a search", :required => true%>
    <button class="btn btn-default btn-fill">Search</button>
  <% end %>
</div>

<% if @yelp_results %>
 <div id="acordeon">
    <div class="panel-group" id="accordion">
    <% @yelp_results.each_with_index do |y, index| %>
        <div class="panel panel-default">

        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-target="#collapse<%= index+1 %>" href="#collapse<%= index+1 %>" data-toggle="gsdk-collapse"> <%= y.name %> </a>
          </h4>
        </div>

        <div id="collapse<%= index+1 %>" class="panel-collapse collapse">
          <div class="panel-body">
            <p>   <% begin %>
                  <%= y.phone %>
                  <% rescue %>
                  <% end %>
            </p>
            <p><%= y.location.display_address %>

            </p>
            <p><a href='/venues/<%= y.id %>'> Do you have something good to say about ? </a></p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <% end %>







