
<h2><%= @results.name %> </h2>
<p><%= @results.phone %></p>
<p><%= @results.location.address[0] %><%= @results.location.address[1] %> </p>
<p><%= @results.location.city %> </p>
<p><%= @results.location.postal_code %> </p>



<p>Do you have something good to say about this business?</p>

  <%= form_for @comment do |f| %>
  <%= hidden_field_tag :yelp_id, @results.id  %>
  <%= f.text_area :comment, :placeholder => "Leave a comment here" %>
  <p><%= f.submit %></p>
  <% end %>

  <ul id="comments_list">
    <% @comments.each do |com| %>
    <p><%= com.comment %></p>
    <% end %>
  </ul>

  <br />
  <%= link_to "SEARCH AGAIN", pages_path  %>




<script>
</script>