
<img id="logo-all" src="http://i.imgur.com/Rr2vGhx.png" width="300" >


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne"> <%= @results.name %> </a>
          </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
            <p>   <% begin %>
                  <a href="tel:<%= @results.phone %>"><%= @results.phone %></a>
                  <% rescue %>
                  <% end %>
            </p>
            <p><%= @results.location.display_address.join(', ') %>
            <p id="find-address"><a href="http://maps.google.com/?q=<%= @results.location.display_address.join('+') %>" target="_blank">FIND ADDRESS</a></p>
        </div>
    </div>
  </div>


  <br />
    <%= link_to pages_path do %>
    <p class="btn btn-default btn-fill pull-right">Search Again</p>
    <% end %>
  <br />
  <br />
  <br />

  <div class="container">
    <div class="row">
      <div class='col-md-offset-2 col-md-8 text-center'>
       <h4>Here's what others are saying about <%= @results.name %>... </h4>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-offset-2 col-md-8'>
        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <% @comments.each_with_index do |com, index| %>
          <!-- Carousel Slides / Quotes -->
          <div class="carousel-inner">
            <!-- Quote 1 -->
            <div class="item active">
              <blockquote>
                <div class="row">
                  <div class="col-sm-3 text-center">
                      <img class="img-circle" src="<%= com.user_img %>" style="width: 45px;height:45px;">
                  </div>
                  <div class="col-sm-9">
                    <p><%= com.comment %></p>
                    <small> <%= com.fb_name %></small>
                  </div>
                </div>
              </blockquote>
            </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
</div>

  <div class="footer">
    <p style="text-align: center;">Do you have something good to say about this business?</p>
    <br />

    <div class="centered">
      <a href="#" class="btn btn-default btn-fill "
       data-toggle="modal"
       data-target="#basicModal">Add your say...</a>
    </div>
  </div>


<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Your say...</h4>
      </div>
        <div class="modal-body">
            <%= form_for @comment do |f| %>
            <%= hidden_field_tag :yelp_id, @results.id  %>

            <div class="form-group">
            <textarea class="form-control" rows="5" <%= f.text_area :comment %>
            </textarea>
            </div>

        <div class="modal-footer">
          <p><%= f.submit "Post Comment", :class => "btn btn-default btn-fill pull-right" %></p>
             <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>



  $(document).ready(function() {
    $('#quote-carousel').carousel({
      pause: true,
      interval: 4000,
    });
  });


</script>



