<h1>SHOW VENUE</h1>


<h2><%= @results.name %> </h2>
<p><%= @results.phone %></p>
<p><%= @results.location.address[0] %><%= @results.location.address[1] %> </p>
<p><%= @results.location.city %> </p>
<p><%= @results.location.postal_code %> </p>



<script>



</script>