<!DOCTYPE html>
<html>
<head>
  <title>OutAndAbout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container_login">
  <div id="fb-img">
    <% if user_signed_in? %>
    <% fb = Koala::Facebook::API.new(session["token"]).get_object("me?fields=name,picture") %>

    Hi, <%= fb["name"] %> <%= link_to 'LOGOUT', destroy_user_session_path, :data => { :confirm => 'are you sure?'} %>
    <% @fbimg = fb["picture"] %>
    <% elsif fb = 'nil' %>
    <% end %>
  </div>
</div>


<%= yield %>



</body>

</html>
